<h1>WS CHAT</h1>

<div id="chatPopup" class="chat-popup"></div>


<head >
<h3 class="userName" ></h3>
<p class="typing"></p>
</head>
<main>
 <div class="chatMessage"></div>
</main>
<footer>
    <input type="text" placeholder="Mensaje" id="inputMessage"/>
    <button id="sendMessage" >Enviar</button>
</footer>
</div>
 
