 
 
 <h2>LOGIN</h2>
<form action="session/login" method="POST">

<div class="section">

    <div class="title" > Correo</div>
    <div class="field" ><input type="email" name="email" id="username" placeholder="Ingresar correo"required></div>
</div>
<div class="section">
    <div class="title" >Contraseña</div>
    <div class="field" ><input type="password" name="password" id="password" placeholder="Ingresar Contraseña" required></div>
</div>
<div class="section" >
    <div class="button"><input type="submit" value="Login"></div>
    <div class="button"><a href="/register">Registrarse</a></div>
</div>
</form>
<a href="/api/sessions/github">
<button class="" >Github</button>
</a>