<form action="/register " method="POST">

<h2>LOGIN</h2>
<div class="section">

    <div class="title" > Username</div>
    <div class="field" ><input type="text" name="username" id="username"></div>
</div>
<div class="section">
    <div class="title" >Password</div>
    <div class="field" ><input type="password" name="password" id="password" ></div>
</div>
<div class="section" >
    <div class="button"><input type="submit" value="Registrar usuario"></div>
    <div class="button"><a href="#">Login</a></div>
</div>
</form>