<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css " rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title> {{title}}  </title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        {{!-- <li><a href="/chat">Chat</a></li> --}}
      {{#if isLoggedIn}}
      <li><a href="/logout">logout</a></li>
      <li><a href="/users">users</a></li>
        
      {{else}}
       <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>  
        
      {{/if}}
       
    </ul>
</nav>

    {{{body}}}


    <script src="/socket.io/socket.io.js"></script>

    {{!Alert para dar nombre en el chat con websocket   }}
   {{!-- <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js "></script> --}}

    <script src="/js/index.js"></script>
</body>
</html>